*{
    margin: 0px;
    padding: 0px;
}
.Head{
    text-align: center;
    font-weight: bolder;
    color: #f8d408;
    margin-top: 10px;
    font-family: "rosewood",sans-serif;
}
@font-face {
    font-family:"rosewood" ;
    src: url(css/RosewoodStd-Regular.otf);
}

body{
    
    background-image: linear-gradient( 110deg,  rgba(102,51,153,1) 11.2%, rgb(9, 1, 19) 91.1% );
}

/*menu*/
.box{
   
    backdrop-filter: blur(4px);
    width: 70px;
    border-radius: 40px;  
    position: fixed;  
    box-shadow: 2px 2px 1px 1px white ;
   
}

.box img{
    height: 40px;
    width: 40px;
    padding: 12px;
    border-radius: 30px;   
}
.box img:hover{
    transform: perspective(500px)translate3d(10px, 0,50px);
    transition: .5s;
}
/*contact*/
*{
    margin: 0px;
    padding: 0px;
}
.Head{
    text-align: center;
    font-weight: bolder;
    color: #f8d408;
    margin-top: 10px;
    font-family: "rosewood",sans-serif;
}
.contact_form{
    margin-left: 300px;
    margin-top: 50px;
    border: 2px solid none;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px #f8d408;
    width: 640px;
    padding:10px;
}
.contact_form iframe{
    height: 1000px;
    width:640px ;
    border-radius: 20px;
}

    @media (max-width: 600px) {
        .contact_form{
            margin-left: 100px;
            width: 400px;
        }
        .contact_form iframe{
            height: 800px;
            width:400px ;
        }
      }

  @media (max-width: 470px) {
    .Head {
      font-size: 1.5em;
    }
    body{
        overflow: hidden;
    }
    .contact_form{
        margin-left: 100px;
        width: 300px;
    }
    .contact_form iframe{
        height: 500px;
        width:300px ;
    
    }

    .box{
   
    backdrop-filter: blur(4px);
    width: 50px;
    border-radius: 40px;  
    margin-top: 50px;
   
}
.box img{
    height: 30px;
    width: 30px;
     
}


  }
