
/*home*/
@font-face {
    font-family:"rosewood" ;
    src: url(css/RosewoodStd-Regular.otf);
}


body{
    background-image: linear-gradient( 110deg,  rgba(102,51,153,1) 11.2%, rgb(9, 1, 19) 91.1% );
    overflow: hidden;
  }
.home_bg{
    
    background-image: url(../images/bluebg.jpg);
    background-size: cover;

}
#home_div{
    border: 2px solid none;
    width: 800px;
    margin-top: 120px;
    height: 500px;
    margin-left: 300px;
    backdrop-filter: blur(6px);
    box-shadow: 1px 1px 2px 2px black;
    border-radius: 30px;
}
a{
color:white;
text-decoration: none;
}

.list{
    list-style-type: none; 
    font-weight: bold;
    font-size: x-large;
    color: white;
    position: absolute;
    top: 20px;
    display: flex;
    flex-wrap: wrap;
}
li{
    margin-left: 60px;
    padding: 3px;
    text-align: center;
}
li:hover{
    background-color: rgb(13, 235, 42);
    transform:scalex(1);
    transition: 0.5s ease-in-out;
    cursor: pointer;  
    border-radius: 10px;
}
.list .active {
    color: aqua;
}
a:hover{
    color: black;
}
.d1{
    padding: 210px;
    position: absolute;
    margin-left: 180px;
    color: aliceblue;   
}
.my_img{
    position: absolute;
    height: 410px;
    width: 240px;
    margin-left: 50px;
    margin-top: 50px; 
    border-radius: 20px;   
}

/*menu*/
.box{
   
    backdrop-filter: blur(4px);
    width: 70px;
    border-radius: 40px;  
    position: fixed;  
    box-shadow: 2px 2px 1px 1px white ;
   
}

.box img{
    height: 40px;
    width: 40px;
    padding: 12px;
    border-radius: 30px;   
}
.box img:hover{
    transform: perspective(500px)translate3d(10px, 0,50px);
    transition: .5s;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .list {
        font-size: 1.2em;
        align-items:center;
        
      }

    #home_div {
      flex-direction: column;
      width: 80%;
      padding: 15px;
      margin-left:50px;
      margin-top: 120px;
      height: 450px;
      
      
    }

    .my_img {
      width:170px;
      height: auto;
    }

    .d1 {
      padding-left: 50px; 
      padding-top: 150px;   }

    .box {
      flex-direction: row;
      bottom: 20px;
      top: auto;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 20px;
    }

    .box img {
      height: 30px;
      width: 30px;
    }
  }

  @media (max-width: 480px) {
    .list {
        font-size: 1em;
        align-items:center;
        
      }

    #home_div {
      flex-direction: column;
      margin-top: 180px;
      width: 80%;
      padding: 15px;
      margin-left:10px;
      height: 400px;
    }

    .my_img {
      width:170px;
      height: auto;
      margin-left: 10px;
      margin-top: 10px;
    }

    .d1 {
      padding-left: 10px; 
      padding-top: 150px;   
      font-size: 8px;
     
    }

    .box {
      flex-direction: row;
      bottom: 20px;
      top: auto;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 20px;
    }

    .box img {
      height: 30px;
      width: 30px;
    }
  }
